html
{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  width: 100%;
  margin: 0px;
  background: rgb(241, 241, 241);

  padding: 70px 0px 70px 0px;

  /* Variables */
  --accent-color: rgb(48, 105, 105);
  --rounded-border-radius-normal: 10px;
  --rounded-border-radius-high: 20px;
  --def-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --hover-shadow: 0 14px 28px rgb(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.22);
}

.TitleBar
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--accent-color);
  line-height: 60px;
  padding: 10px 10px 10px 30px;
  color: white;
  font-size: x-large;
  box-shadow: var(--def-shadow);
}

h1
{
  padding-left: 10px;
  font-size: 20px;
  font-weight: normal;
  color: black;
  user-select: none;
}

h1.clickable_h1:hover
{
  cursor: pointer;
}

.splitContainer
{
  float: left;
  width: calc(50% - 20px);
  margin: 0;
  padding: 10px;
}

textarea
{
  width: 100%;
  background-clip: padding-box; /* this has been added */
  border-radius: var(--rounded-border-radius-normal);
  border: transparent solid 0px;
  overflow: hidden;
  resize: none;
  min-height: 75px;
  margin: 5px 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  box-shadow: var(--def-shadow);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button
{
  width: 300px;
  height: 40px;
  margin: 5px 0 0 10px;
  background-clip: padding-box; /* this has been added */
  border-radius: var(--rounded-border-radius-normal);
  border: transparent solid 0px;
  background-color: var(--accent-color);
  color: white;
  
  box-shadow: var(--def-shadow);
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);
}

.splitContainer button
{
  width: 100%;
  margin: 5px 0 0 0px;
}

button:hover 
{
  cursor: pointer;
  box-shadow: var(--hover-shadow);
}

table
{
  width: 100%;
  color: white;
  text-align:center;
  padding: 10px 0px;
  font-size: 12px;
}

table th
{
  font-weight: normal;
  height: 25px;
  background-color: rgb(29, 29, 29);
  color: rgb(255, 255, 255);
  background-clip: padding-box; /* this has been added */
  border-radius: var(--rounded-border-radius-normal);
  border: transparent solid 2px;
}

table th#blueTeam
{
  background-color: #0e70b1;
  font-size: 20px;
  padding: 7px 0px;
}

table th#redTeam
{
  background-color: #a13636;
  font-size: 20px;
  padding: 10px 0px;
}

table th#casualTeam
{
  background-color: #593464;
  font-size: 20px;
  padding: 10px 0px;
}

table td input
{
  background-color: transparent;
  border-color: transparent;
  color: rgb(51, 0, 0);
  font-size: 12px;
  text-align: left;
  width: 100%;
  outline:  none;
}

table td
{
  background-color: #ebebeb;
  text-align: left;
  color: black;
  background-clip: padding-box; /* this has been added */
  border-radius: var(--rounded-border-radius-normal);
  padding: 5px;
  border: transparent solid 2px;
}

table td.duplicate-player
{
  border: #a13636 solid 2px;
}

table td.callerCell
{
  background-color: #c7d4c7;
}

table td.duplicateCell
{
  border: #ff4242 solid 2px;
}

table td.redColoredTableRow
{
  background-color: rgb(223, 124, 124);
}

table td.darkColoredTableRow
{
  background-color: rgb(104, 104, 104);
  color: white;
}

table td.orangeColoredTableRow
{
  background-color: rgb(255, 188, 101);
  color: rgb(0, 0, 0);
}

select.tableSelect
{
  background-color: transparent;
  border-color: transparent;
  color: black;
  font-size: 12px;
  text-align: left;
  appearance: none;
  width: 100%;
}

select.tableSelect:focus
{
  outline: none;
}

select.tableSelect option
{
  background-color: white;
  color: black;
}

.bottomFloatingPanel
{
  position: fixed;
  bottom: 10px;
}

div#assignedSlotsTracker-div
{
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  width: calc(100% - 40px);
  overflow: auto;
  background-clip: padding-box; /* this has been added */
  border-radius: var(--rounded-border-radius-high);
  box-shadow: var(--def-shadow);
}

.bottomFloatingPanel h1
{
  background-clip: padding-box; /* this has been added */
  border-radius: var(--rounded-border-radius-high);
  box-shadow: var(--def-shadow);
  margin: 5px;
  font-size: 15px;
  padding: 10px 20px;
  width: fit-content;
  background-color: white;
}

.playerSlotContainer
{
  float: left;
  display: block;
  margin: 5px;
  padding: 0px 0px 0px 15px;
  color: white;
  height: 30px;
  line-height: 30px;
  background-color: rgb(41, 41, 41);
  background-clip: padding-box; /* this has been added */
  border-radius: var(--rounded-border-radius-high);
  box-shadow: var(--def-shadow);
}

.playerSlotContainer div
{
  margin: 0px 0px 0px 10px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  float: right;
  height: 30px;
  line-height: 30px;
  background-clip: padding-box; /* this has been added */
  border-radius: var(--rounded-border-radius-high);
}

.playerSlotContainer div#normal
{
  background-color: rgb(219, 219, 219);
  color: black;
}

.playerSlotContainer div#not-rostered
{
  background-color: rgb(149, 0, 194);
  color: rgb(255, 255, 255);
}

.playerSlotContainer div#over-rostered
{
  background-color: rgb(202, 86, 86);
  color: rgb(255, 255, 255);
}

.ClanBase_ColumnLabel
{
  background-color: rgb(51, 51, 51);
}

.ClanBase_ColumnLabel.noBase
{
  background-color: rgb(202, 202, 202);
  color: black;
}

.ClanBase_ColumnLabel input
{
  background-color: transparent;
  border-color: transparent;
  color: rgb(255, 76, 76);
  font-weight: bold;
  text-align: center;
  width: 100%;
  outline:  none;
}

.extra-info
{
  display: inline-block;
  font-size: 10px;
  margin: 0px 5px 0 0;
  padding: 0px;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}

.extra-info.extra-info-caller
{
  color: rgb(0, 165, 63);
}

.extra-info.extra-info-startbtl
{
  color: rgb(148, 158, 0);
}

.extra-info.extra-info-bluteam
{
  color: rgb(0, 66, 172);
}

.extra-info.extra-info-redteam
{
  color: rgb(151, 0, 0);
}

.extra-info.extra-info-nosortie
{
  color: rgb(0, 0, 0);
}